<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    The configuration below serves as a guideline for configuring a WCF service that is
    intended for hosting by Apprenda. The actual values in this file are used for
    local development only. Upon deployment, Apprenda will dynamically configure this
    service and any clients that communicate with it.
  -->
  <system.serviceModel>
    <bindings>
      <!--
        The netTcpBinding is the preferred binding for service communication within Apprenda for
        performance reasons.
      -->
      <netTcpBinding>
        <binding name="DefaultTcpBinding" maxReceivedMessageSize="16777216" listenBacklog="100" sendTimeout="20:00:00" receiveTimeout="20:00:00" openTimeout="20:00:00" closeTimeout="20:00:00">
          <security mode="None"/>
          <readerQuotas maxArrayLength="16777216"/>
        </binding>
      </netTcpBinding>
      <!--
        The basicHttpBinding is required for clients that communicate with Apprenda from the
        outside, such as Silverlight clients.
        -->
      <basicHttpBinding>
        <binding name="DefaultBasicHttpBinding" maxReceivedMessageSize="16777216" sendTimeout="20:00:00" receiveTimeout="20:00:00" openTimeout="20:00:00" closeTimeout="20:00:00">
          <security mode="None"/>
          <readerQuotas maxArrayLength="16777216"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ApprendaServiceBehavior">
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ApprendaEndpointBehavior">
          <ContextBehavior/>
        </behavior>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <!-- Used to re-construct the simulated local session information from the client. -->
        <add name="ContextBehavior" type="Apprenda.SaaSGrid.API.Local.ContextEndpointBehaviorExtension, SaaSGrid.API.Local, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Service.Service" behaviorConfiguration="ApprendaServiceBehavior">

        <!-- Expose an endpoint for direct communication by other services or by server-side website -->
        <endpoint address="net.tcp://localhost:40000/Service"
                  binding="netTcpBinding"
                  bindingConfiguration="DefaultTcpBinding"
                  behaviorConfiguration="ApprendaEndpointBehavior"
                  contract="Service.IService"/>

        <!-- Expose an endpoint for the Silverlight client -->
        <endpoint address="http://localhost:40001/Service"
                  binding="basicHttpBinding"
                  bindingConfiguration="DefaultBasicHttpBinding"
                  behaviorConfiguration="ApprendaEndpointBehavior"
                  contract="Service.IService"/>

        <!-- Expose and endpoint that will serve the clientaccesspolicy.xml file for Silverlight clients. Apprenda 
             will serve this file automatically upon live deployment, so this is only needed for local development. 
             Apprenda's "conditional configuration system" is used to accomplish this. -->
        <!--Apprenda Local Configuration-->
        <endpoint address="http://localhost:40001"
                  binding="webHttpBinding"
                  behaviorConfiguration="webHttpBehavior"
                  contract="Service.ISilverlightClientAccessPolicy"/>
        <!--End Apprenda Local Configuration-->
      </service>
    </services>
  </system.serviceModel>
</configuration>
