<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="apprendaLocal" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <apprendaLocal>
    <!-- Allows the Apprenda Mocker to Push and Pull configuration otherwise read from Apprenda.mock.xml -->
    <add key="allowLiveAttaching" value="true"/>
  </apprendaLocal>
  <system.web>
    <!--
      Set compilation debug="true" to insert debugging
      symbols into the compiled page. Because this
      affects performance, set this value to true only
      during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="10000" executionTimeout="180"/>
    <!-- Load the module for IIS that will appropriately set up context management for Apprenda service calls. -->
    <httpModules>
      <!-- The context init module should be the first module in your module list to allow Apprenda to initialize the proper tenant/application context -->
      <add name="ContextInitModule" type="Apprenda.SaaSGrid.API.Local.ContextInitModule, SaaSGrid.API.Local"/>
      <!-- The context dispose module should be the last module in your module list to allow Apprenda to dispose the proper tenant/application context -->
      <add name="ContextDisposeModule" type="Apprenda.SaaSGrid.API.Local.ContextDisposeModule, SaaSGrid.API.Local"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!-- The context init module should be the first module in your module list to allow Apprenda to initialize the proper tenant/application context -->
      <add name="ContextInitModule" type="Apprenda.SaaSGrid.API.Local.ContextInitModule, SaaSGrid.API.Local"/>
      <!-- The context dispose module should be the last module in your module list to allow Apprenda to dispose the proper tenant/application context -->
      <add name="ContextDisposeModule" type="Apprenda.SaaSGrid.API.Local.ContextDisposeModule, SaaSGrid.API.Local"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ApprendaClientBehavior">
          <ContextBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <!-- This is the behavior extension that installs the behavior for Apprenda Contexts -->
      <behaviorExtensions>
        <add name="ContextBehavior" type="Apprenda.SaaSGrid.API.Local.ContextEndpointBehaviorExtension, SaaSGrid.API.Local, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <!-- This is the definition for our client. By applying the Apprenda Client Behavior, the different Apprenda contexts will be flowed across service calls.-->
    <client>
      <endpoint address="net.tcp://localhost:40000/Service" binding="netTcpBinding" bindingConfiguration="defaultTcpBinding" behaviorConfiguration="ApprendaClientBehavior" contract="root.Contracts.IService"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="defaultTcpBinding" maxBufferPoolSize="524288" maxReceivedMessageSize="65536">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
